*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 500 !important;
    margin: 2% 30%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    height: 500px;
}
.container .msg-header{
    padding-top: 5px;
    width: 100%;
    height: 60px;
    border-bottom: none;
    display: inline-block;
    background: #007bff;
    padding-left:10px ;
}
.container .msg-header .msg-header-img{
    float: left;
}
img{
    max-width: 100%;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
    margin: 1%;
    border: 3px solid #fff;
}
.container .msg-header .ativo{
    float: left;
    width: 120px;
    margin: 10px;
}
.container .msg-header .ativo h4{
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}
.container .msg-header .ativo h6{
    font-size: 10px;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 2px;
    color: #fff;
}
.container .msg-header .header-icons{
    width: 120px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}
.container .msg-header .header-icons .fa{
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.pgChat{
    padding: 0 0 50px 0;
}
.msg-inbox{
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
}
.chats{
    padding: 30px 15px 0 25px;
}
.msg-pg{
    height: auto;
    overflow-y: auto;
}
.chats-recebida-img img{
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
}
.msg-recebida{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
}
.msg-recebida-inbox{
    width: 60%;
}
.msg-recebida-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size:  15px;
    margin: 11px 0;
    padding: 5px 10px 5px 10px;
    width: 100%;
}
.momento{
    color: #777;
    display: block;
    font-size: 10px;
    margin: 8px 0 0;
}
.chats-enviada{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    overflow: hidden;
    margin: 26px 20px;
    margin-left: 62%;
}
.msg-enviada{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
}
.msg-enviada p{
    background: #007bff none repeat scroll 0 0;
    color: #fff;
    border-radius: 10px;
    font-size:  15px;
    margin: 0;
    text-align: right;
    padding: 5px 10px 5px 10px;
    width: 100%;
}
.chats-enviada-img{
    display: inline-block;
    float: right;
}