@charset "UTF-8";
@font-face {
  font-style: normal;
  font-weight: 200;
  src: local("Segoe UI Light"), local("SegoeUI-Light"), local("Segoe WP Light"), local("SegoeWP-Light");
  font-family: "Segoe UI Local"; }

@font-face {
  font-style: normal;
  font-weight: 300;
  src: local("Segoe UI Semilight"), local("SegoeUI-Semilight"), local("Segoe WP Semilight"), local("SegoeWP-Semilight");
  font-family: "Segoe UI Local"; }

@font-face {
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("SegoeUI"), local("Segoe WP"), local("SegoeWP");
  font-family: "Segoe UI Local"; }

@font-face {
  font-style: normal;
  font-weight: 600;
  src: local("Segoe UI Semibold"), local("SegoeUI-Semibold"), local("Segoe WP Semibold"), local("SegoeWP-Semibold");
  font-family: "Segoe UI Local"; }

@font-face {
  font-style: normal;
  font-weight: 700;
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"), local("Segoe WP Bold"), local("SegoeWP-Bold");
  font-family: "Segoe UI Local"; }

@font-face {
  font-style: normal;
  font-weight: 200;
  src: local("â˜º"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-light.woff2") format("woff2"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-light.woff") format("woff"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-light.ttf") format("truetype");
  font-family: "Segoe UI Web"; }

@font-face {
  font-style: normal;
  font-weight: 300;
  src: local("â˜º"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-semilight.woff2") format("woff2"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-semilight.woff") format("woff"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-semilight.ttf") format("truetype");
  font-family: "Segoe UI Web"; }

@font-face {
  font-style: normal;
  font-weight: 400;
  src: local("â˜º"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-regular.woff2") format("woff2"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-regular.woff") format("woff"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-regular.ttf") format("truetype");
  font-family: "Segoe UI Web"; }

@font-face {
  font-style: normal;
  font-weight: 600;
  src: local("â˜º"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-semibold.woff2") format("woff2"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-semibold.woff") format("woff"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-semibold.ttf") format("truetype");
  font-family: "Segoe UI Web"; }

@font-face {
  font-style: normal;
  font-weight: 700;
  src: local("â˜º"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-bold.woff2") format("woff2"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-bold.woff") format("woff"), url("https://statics.teams.cdn.office.net/evergreen-assets/fonts/segoe-ui-bold.ttf") format("truetype");
  font-family: "Segoe UI Web"; }

@font-face {
  font-family: 'Local Hindi';
  src: local("Nirmala UI"), local("DevanagariSangamMN");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Local Hindi';
  src: local("Nirmala UI Bold"), local("DevanagariSangamMN-Bold");
  font-style: normal;
  font-weight: 600; }

body,
input,
select,
button {
  font-family: "Segoe UI Local", "Segoe UI Web", "Helvetica Neue",  "Apple Color Emoji", "Segoe UI Emoji", "Segoe WP", Tahoma, Helvetica, "Meiryo UI", Meiryo, Arial Unicode MS, sans-serif; }

html[lang='el'] body,
html[lang='el'] input,
html[lang='el'] select,
html[lang='ru'] body,
html[lang='uk'] body,
html[lang='bg'] body,
html[lang='ru'] input,
html[lang='uk'] input,
html[lang='bg'] input,
html[lang='ru'] select,
html[lang='uk'] select,
html[lang='bg'] select,
html[lang='he'] body,
html[lang='he'] input,
html[lang='he'] select {
  font-family: 'Segoe UI Local', 'Segoe WP', 'Segoe UI Web', Tahoma, 'Helvetica Neue', Helvetica, 'Meiryo UI', Meiryo, Arial Unicode MS, sans-serif; }

html[lang='hi'] body,
html[lang='hi'] input,
html[lang='hi'] select {
  font-family: 'Local Hindi', 'Segoe WP', Tahoma, 'Helvetica Neue', Helvetica, 'Meiryo UI', Meiryo, Arial Unicode MS, sans-serif; }

/* ---- V2 ----- */
html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background: #f3f2f1; }

html.uiv2 {
  font-size: calc(1em * .625);
  -ms-high-contrast-adjust: none;
  -ms-overflow-style: none; }
  html.uiv2.edge {
    font-size: 62.5%;
    -ms-content-zooming: none;
    touch-action: none; }
  html.uiv2 body {
    background-color: #f7f7f7;
    font-size: 1.4rem;
    line-height: 1.2857; }

#rootView {
  min-height: calc(100vh - 4rem);
  display: -webkit-box;
  display: flex;
  color: #252424;
  padding: 2rem 3rem; }

#mobileRootViewV2 {
  min-height: calc(100vh - 4rem);
  display: -webkit-box;
  display: flex;
  color: #252424;
  padding: 2rem 3rem; }

a {
  color: #6264a7;
  text-decoration: none;
  font-weight: bold; }
  a:hover, a:focus {
    text-decoration: underline; }

h1 {
  font-size: 1.5em; }

@media only screen and (max-width: 767px) {
  #rootView {
    padding: 1rem 1rem; }
  #mobileRootViewV2 {
    padding: 1rem 1rem; } }

@media screen and (max-width: 350px) {
  html:not(.uiv2) {
    font-size: 12px; }
  #rootView {
    min-height: calc(100vh - 2rem); } }

/* IE default flex-shrink behavior is different from other browsers, to unify it, we are adding this */
* {
  flex-shrink: 0; }

.appStoreButton img {
  width: 10rem; }

/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
.button {
  cursor: pointer;
  height: 2rem;
  min-width: 7rem;
  border: 0;
  position: relative;
  border-radius: 0.2rem;
  max-width: 20rem;
  padding: 0px 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.2rem 0.4rem -0.075rem;
  background-color: white; }
  .button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.1rem solid transparent;
    border-radius: 0.2rem; }
  .button:not(.primary)::after {
    border-color: #e1dfdd; }
  .button:not(.primary):hover {
    background: #edebe9; }
    .button:not(.primary):hover::after {
      border-color: #c8c6c4; }
  .button:not(.primary):active, .button:not(.primary):focus {
    background: #e1dfdd;
    box-shadow: none;
    color: #252423; }
    .button:not(.primary):active::after, .button:not(.primary):focus::after {
      border-color: #c8c6c4; }
  .button.primary {
    background-color: #6264a7;
    border-color: transparent;
    color: white;
    box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0, 0, 0, 0.25); }
  .button.primary:hover {
    background-color: #464775; }
  .button.primary:active, .button.primary:focus {
    background: #33344a;
    box-shadow: none; }
  .button .buttonText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    font-weight: 600; }
  .button.mobile {
    width: 100%;
    max-width: none;
    height: auto;
    padding: 1.7rem;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
    border-radius: .4rem;
    box-shadow: none;
    display: -webkit-box;
    display: flex;
    font-size: 1.4rem;
    line-height: 1.2857; }
    .button.mobile::after {
      border-radius: .4rem; }
    .button.mobile .buttonText {
      font-weight: normal;
      margin: 0 auto; }
    .button.mobile:not(.primary) {
      color: #6264a7; }
      .button.mobile:not(.primary)::after {
        border-color: #6264a7; }

/* ---- V2 ----- */
/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
.footer {
  font-size: 0.8rem; }
  .footer a {
    font-weight: normal; }

@media screen and (max-width: 350px) {
  footer {
    width: calc(100vw - 2rem); } }

/* UI v2 */
.disclaimer {
  position: absolute;
  bottom: 6.4rem;
  text-align: center;
  width: 100vw;
  color: #979593;
  font-size: 1.2rem;
  line-height: 1.6rem; }
  .disclaimer .view {
    display: block; }
  .disclaimer a {
    font-weight: normal;
    outline: none;
    color: #979593;
    margin: 1rem; }

@media screen and (max-width: 1002px) {
  .disclaimer {
    width: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 0;
            flex: 0;
    margin-bottom: 6.4rem;
    margin-top: 3.2rem;
    position: relative;
    bottom: auto; } }

.view {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .view .column {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .view .body {
    -webkit-box-flex: 1;
            flex: 1;
    text-align: center; }
  .view .centered {
    display: -webkit-box;
    display: flex;
    align-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center; }

.spacer {
  -webkit-box-flex: 1;
          flex: 1; }

/* ---- V2 ----- */
.joinMobileView {
  color: #6f6d6d; }
  @media screen and (min-width: 768px) and (min-height: 1024px) {
    .joinMobileView .spacer {
      -webkit-box-flex: 0;
              flex: 0; } }
  .joinMobileView .logo {
    width: 18rem; }
  .joinMobileView .message {
    width: 18rem;
    margin: 1rem auto 1rem auto;
    font-size: 1.2rem; }
    .joinMobileView .message.bold {
      font-size: 1.4rem;
      font-weight: bold; }
  .joinMobileView .illustration {
    margin: 1rem;
    width: 18rem; }
  .joinMobileView .legalNotice {
    font-size: 0.8rem;
    opacity: 0.8;
    width: 18rem; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation: fadeIn 2s 1;
          animation: fadeIn 2s 1; }

/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
.installPrompt {
  width: 16rem;
  box-shadow: 0 1rem 2rem 0 rgba(22, 35, 58, 0.24);
  background-color: #6264a7;
  color: white;
  border-radius: 0.2rem;
  padding: 0 1rem;
  position: absolute;
  text-align: left; }
  .installPrompt.bottom {
    bottom: 2rem; }
    .installPrompt.bottom::after {
      content: ' ';
      position: absolute;
      left: 50%;
      border-top: 0.8rem solid #6264a7;
      border-right: 0.8rem solid transparent;
      border-left: 0.8rem solid transparent;
      border-bottom: none; }
  .installPrompt.bottom.upper {
    bottom: 10rem; }
  .installPrompt.left {
    left: 2rem; }
  .installPrompt.top {
    top: 2rem; }
    .installPrompt.top::after {
      content: ' ';
      position: absolute;
      left: 50%;
      bottom: 100%;
      border-bottom: 0.8rem solid #6264a7;
      border-right: 0.8rem solid transparent;
      border-left: 0.8rem solid transparent;
      border-top: none; }
  .installPrompt.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
  .installPrompt p.title {
    font-weight: bold; }
  .installPrompt .msg {
    font-size: smaller; }

.ltr .installPrompt.left {
  left: 2rem; }

.ltr .installPrompt.right {
  right: 2rem; }

.rtl .installPrompt.right {
  left: 2rem; }

.rtl .installPrompt.left {
  right: 2rem; }

/* UI v2 */
html.uiv2 .installPrompt {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  width: 20rem;
  padding: 0 1.6rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8rem 1rem -0.2rem; }
  html.uiv2 .installPrompt .title {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 1.6rem auto 0.8rem; }
  html.uiv2 .installPrompt .msg {
    font-size: 1.4rem;
    line-height: 1.2857;
    margin: 0.8rem auto 1.6rem; }
  html.uiv2 .installPrompt.bottom::after {
    border-top-width: 0.6rem;
    left: calc(50% - 0.8rem); }
  html.uiv2 .installPrompt.top::after {
    border-bottom-width: 0.6rem; }
  html.uiv2 .installPrompt.left {
    left: 3.2rem; }

/* ---- V2 ----- */
.joinView .header {
  display: -webkit-box;
  display: flex;
  align-self: flex-start; }
  .joinView .header .logo {
    height: 1.2rem; }

.joinView h1.title {
  align-self: stretch; }

.joinView p.noSupport {
  margin-bottom: 0; }

.joinView .partyImage {
  width: 25rem; }

@media only screen and (max-width: 767px) {
  .joinView .partyImage {
    width: 20rem; } }

@media screen and (max-width: 350px) {
  .joinView .partyImage {
    width: 15rem; } }

.joinView .buttonsContainer {
  display: -webkit-box;
  display: flex; }
  .joinView .buttonsContainer .button {
    margin: 0.5rem;
    position: relative; }
  .joinView .buttonsContainer .button:hover .tooltip {
    display: block; }

.joinView .tooltip {
  position: absolute;
  background: #fff;
  display: none;
  border-radius: 0.2rem;
  bottom: 2.8rem;
  padding: 0.6rem 1.4rem;
  max-width: 100%;
  overflow: visible;
  width: 100%;
  white-space: normal;
  font-weight: 600;
  font-size: 0.8rem;
  left: -1.4rem;
  box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0, 0, 0, 0.25);
  text-align: left; }

.joinView .tooltip:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-top: 0.7rem solid #fff;
  left: calc(50% - 1.2rem);
  bottom: -0.7rem; }

@media only screen and (max-width: 767px) {
  .joinView .buttonsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; } }

.joinView .desktopMessage {
  text-align: center;
  font-size: 0.9rem; }

.joinView .launchLink {
  display: inline-block;
  position: relative; }
  .joinView .launchLink:hover .tooltip {
    display: block; }
  .joinView .launchLink .tooltip {
    bottom: 2rem; }

.joinView .tryEdgeAgain {
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 20px; }

.joinView .havingProblems {
  margin-top: -10px; }

/* ---- V2 ----- */
/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
.meetingJoinMobileView {
  max-width: 28.6rem;
  margin: 0 auto;
  color: #6f6d6d; }
  @media screen and (min-width: 768px) and (min-height: 1024px) {
    .meetingJoinMobileView .spacer {
      -webkit-box-flex: 0;
              flex: 0; } }
  .meetingJoinMobileView h1 {
    font-size: 2.8rem;
    line-height: 3.8rem;
    color: #6264a7;
    font-weight: normal;
    width: 28.6rem;
    margin: 0.6rem 0 2.4rem; }
  .meetingJoinMobileView .message {
    width: 28.6rem;
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: #6f6d6d; }
  .meetingJoinMobileView .illustration {
    width: 20rem;
    margin-bottom: 2.4rem; }
  @media screen and (min-device-width: 400px) {
    .meetingJoinMobileView .illustration {
      width: 28rem; } }
  .meetingJoinMobileView .legalNotice {
    font-size: 0.8rem;
    opacity: 0.8;
    width: 28.6rem; }

/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
/* ---- V2 ----- */
.btn {
  min-height: 10.4rem;
  border: none;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }
  .btn .img {
    width: 4rem;
    height: 4rem;
    margin: auto 3.2rem; }
  .btn div.img {
    background-color: lightgray; }
  .btn .text {
    text-align: left;
    width: calc(42rem - 13.6rem); }
  .btn.primary {
    position: relative;
    background: white;
    border-radius: .4rem;
    box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
    cursor: pointer; }
    .btn.primary:hover {
      box-shadow: 0 0.06rem 0.18rem 0 rgba(0, 0, 0, 0.11), 0 0.32rem 0.72rem 0 rgba(0, 0, 0, 0.13);
      background-color: #FAF9F8; }
    .btn.primary:focus {
      box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
      background-color: #FAF9F8;
      outline: none; }
      .btn.primary:focus:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: .4rem;
        border: 0.1rem solid #6264a7; }
    .btn.primary + .btn.primary {
      margin-top: .8rem; }
    .btn.primary .text {
      margin: 3.2rem 0; }
    .btn.primary h3 {
      color: #252423;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2rem;
      margin: 0;
      margin-bottom: .5rem; }
    .btn.primary p {
      color: #605e5c;
      font-size: 1.4rem;
      line-height: 1.2857;
      margin: 0; }
  .btn.secondary {
    background-color: transparent;
    color: #605e5c;
    font-size: 1.4rem;
    line-height: 1.2857; }
    .btn.secondary + .btn.secondary {
      border-top: 0.1rem solid #e1dfdd; }
    .btn.secondary:last-of-type {
      margin-bottom: -3.2rem;
      /* This effectively negate a bottom margin on container if last element is SECONDARY button. */ }
    .btn.secondary .text {
      margin: 2.4rem 0; }
    .btn.secondary a {
      color: #6264a7;
      font-weight: normal;
      outline: none; }

/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
/* ---- V2 ----- */
#rootViewV2 {
  margin: 0;
  background-color: #f7f7f7; }

.modernViewContainer .logo {
  position: absolute;
  top: 4.2rem;
  left: 4.2rem;
  width: 4.8rem;
  height: 4.8rem; }

.modernViewContainer #container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh; }

@media screen and (max-width: 1002px) {
  html.uiv2 body {
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch; }
  html.uiv2 .modernViewContainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 100vh; }
    html.uiv2 .modernViewContainer .logo {
      position: static;
      position: initial;
      margin: 4.2rem;
      top: auto;
      left: auto;
      display: -webkit-box;
      display: flex;
      -webkit-box-flex: 0;
              flex: 0; }
    html.uiv2 .modernViewContainer #container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      display: -webkit-box;
      display: flex;
      -webkit-box-flex: 1;
              flex: 1; } }

/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
/* ---- V2 ----- */
#textbox {
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  color: #605e5c;
  font-size: 1.4rem;
  line-height: 1.2857; }
  #textbox h1 {
    color: #252424;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 4rem;
    margin: 0; }

@media screen and (max-width: 1002px) {
  #textbox p {
    margin-bottom: 0; } }

.busy-animation {
  display: inline-block; }

.ts-spinner-internal {
  overflow: hidden; }

.ts-spinner-internal.size-1x {
  height: 2.4rem;
  width: 2.4rem; }

.ts-spinner-internal.size-1x .spinner-animate {
  width: 2.4rem;
  height: 146.4rem;
  -webkit-animation: 2s steps(60) both infinite translate-small;
          animation: 2s steps(60) both infinite translate-small; }

.ts-spinner-internal.size-2x {
  height: 3.6rem;
  width: 3.6rem; }

.ts-spinner-internal.size-2x .spinner-animate {
  width: 3.6rem;
  height: 219.6rem;
  -webkit-animation: 2s steps(60) both infinite translate-medium;
          animation: 2s steps(60) both infinite translate-medium; }

.ts-spinner-internal.size-3x {
  height: 7.2rem;
  width: 7.2rem; }

.ts-spinner-internal.size-3x .spinner-animate {
  width: 7.2rem;
  height: 439.2rem;
  -webkit-animation: 2s steps(60) both infinite translate-large;
          animation: 2s steps(60) both infinite translate-large; }

.ts-spinner-container {
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-animation: .3s 1.5s ease-out both fade-spinner-in;
          animation: .3s 1.5s ease-out both fade-spinner-in; }

.ts-spinner-container {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

@-webkit-keyframes translate-small {
  to {
    -webkit-transform: translate3d(0, -144rem, 0);
            transform: translate3d(0, -144rem, 0); } }

@keyframes translate-small {
  to {
    -webkit-transform: translate3d(0, -144rem, 0);
            transform: translate3d(0, -144rem, 0); } }

@-webkit-keyframes translate-medium {
  to {
    -webkit-transform: translate3d(0, -216rem, 0);
            transform: translate3d(0, -216rem, 0); } }

@keyframes translate-medium {
  to {
    -webkit-transform: translate3d(0, -216rem, 0);
            transform: translate3d(0, -216rem, 0); } }

@-webkit-keyframes translate-large {
  to {
    -webkit-transform: translate3d(0, -432rem, 0);
            transform: translate3d(0, -432rem, 0); } }

@keyframes translate-large {
  to {
    -webkit-transform: translate3d(0, -432rem, 0);
            transform: translate3d(0, -432rem, 0); } }

@-webkit-keyframes fade-spinner-in {
  to {
    opacity: 1; } }

@keyframes fade-spinner-in {
  to {
    opacity: 1; } }

/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
/* ---- V2 ----- */
#launching h1 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.2rem; }

@media screen and (max-width: 1002px) {
  #launching {
    padding-top: 0; } }

/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
.unsupported {
  max-width: 61rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  text-align: center; }
  .unsupported img {
    width: 27.8rem;
    height: 27.8rem; }
  .unsupported .textBox {
    margin-bottom: 3.2rem; }
    .unsupported .textBox h1 {
      font-size: 3.2rem;
      line-height: 4rem; }
    .unsupported .textBox p {
      color: #605e5c; }
  .unsupported .learnMore {
    border: 0.1rem solid #e1dfdd;
    border-radius: 0.2rem;
    cursor: pointer;
    color: #252423;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.28rem 0.56rem -0.105rem;
    max-width: 28rem;
    min-width: 11.8rem;
    margin: 0;
    padding: 0 2rem;
    outline: none;
    height: 3.2rem;
    font-size: 1.4rem;
    line-height: 1.2857;
    font-weight: 600; }
    .unsupported .learnMore:hover {
      background-color: #edebe9;
      border-color: #c8c6c4; }
    .unsupported .learnMore:focus {
      border: 0.1rem solid #e1dfdd;
      outline-width: 0;
      position: relative; }
      .unsupported .learnMore:focus::before {
        border: 0.1rem solid white;
        left: -0.1rem;
        bottom: -0.1rem;
        right: -0.1rem;
        top: -0.1rem;
        border-radius: 0.2rem;
        z-index: 1;
        pointer-events: none;
        position: absolute;
        content: ""; }
      .unsupported .learnMore:focus::after {
        border: 1px solid black;
        left: -0.1rem;
        bottom: -0.1rem;
        right: -0.1rem;
        top: -0.1rem;
        border-radius: 0.2rem;
        z-index: 1;
        pointer-events: none;
        position: absolute;
        content: ""; }
    .unsupported .learnMore:active {
      border-color: #c8c6c4;
      box-shadow: none;
      -webkit-animation-timing-function: cubic-bezier(0.78, 0, 0.22, 1);
              animation-timing-function: cubic-bezier(0.78, 0, 0.22, 1);
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-duration: 100ms;
              animation-duration: 100ms;
      -webkit-animation-name: button_animation;
              animation-name: button_animation; }

@-webkit-keyframes button_animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96); } }

@keyframes button_animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96); } }

/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
/* ---- V2 ----- */
.modernViewRenderer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row; }
  .modernViewRenderer .content {
    width: 42rem;
    text-align: center;
    padding: 3.2rem 0; }
  .modernViewRenderer #buttonsbox {
    -webkit-box-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .modernViewRenderer .vl {
    border-left: 0.1rem solid #e1dfdd;
    width: 0;
    margin: .5rem 6.4rem; }

@media screen and (max-width: 1002px) {
  .modernViewRenderer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    .modernViewRenderer .vl {
      display: none; } }

/* fonts sized defined here works only with UI v2, where rem=10px */
/* 14 / 18 */
/* 18px */
/* 12 / 16 */
/* 32 / 40 */
/* 24 / 32 */
/* 18 / 20 */
/* mobile sizes */
/* 17 / 22 */
/* 28 / 38 */
/* ---- V2 ----- */
.comingSoon .header {
  display: -webkit-box;
  display: flex;
  align-self: flex-start; }
  .comingSoon .header .logo {
    height: 1.2rem; }

.comingSoon .title {
  align-self: stretch;
  font-size: 1.4rem;
  line-height: 1.2857;
  color: #6264a7;
  margin: 2rem; }

.comingSoon .partyImage {
  width: 25rem; }

.comingSoon .buttonsContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 3rem auto; }
  .comingSoon .buttonsContainer .appStoreButton {
    margin: 1rem; }
    .comingSoon .buttonsContainer .appStoreButton img {
      width: 10rem; }
    .comingSoon .buttonsContainer .appStoreButton #googleStoreImg {
      width: 11rem; }

.comingSoon .desktopMessage {
  text-align: center;
  opacity: 0.9; }

.comingSoon .legalNotice {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.8;
  width: 28rem;
  align-self: center;
  margin: 0.2rem; }

@media screen and (max-width: 350px) {
  .comingSoon .partyImage {
    width: 15rem; } }

@media only screen and (max-width: 767px) {
  .comingSoon .partyImage {
    width: 20rem; }
  .comingSoon .buttonsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .comingSoon .legalNotice {
    width: auto; } }


/*# sourceMappingURL=launcher.96a8a5104378ac80f7ab.css.map*/