* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  background: #100;
}
.calendar {
  position: relative;
  width: 200px;
  background: #fff;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0004);
}
.calendar #nomeMes {
  position: relative;
  padding: 5px 10px;
  background: #ff6331;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.calendar #nomeDia {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #555;
}
.calendar #numeroDia {
  margin-top: 0;
  line-height: 1em;
  font-size: 80px;
  font-weight: 700;
  color: #333;
}
.calendar #ano {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #555;
}
