*{
    margin: 0;
    padding: 0;
}
section{
    max-width: 1100px;
    background: #ebebeb;
    display: grid;
    grid-template-rows: 400px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "texto blocos"
        "foote"
    ;
}
header{
    height: 50px;
}
header .logo img{
    height: 48px;
    width: 48px;
}
main .text h1{
    max-width: 400px;
    font-size: 2rem;
    grid-area: texto;
    margin: auto;
}
section .cards .card{
    grid-area: blocos;
    background: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 25px rgba(0,0,0,.4);
}
section .cards .card .imgB img{
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    display: flex;
}
section .cards .card .texT h2{
    display: flex;
    font-size: 1.3rem;
}
main footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: foote;
}