@media(max-width: 800px){
    .banner{
        padding: 50px;
    }
    .banner header{
        padding: 20px 50px;
    }
    .banner .conteudo h2{
        font-size: 36px ;
    }
    .banner .conteudo p {
        font-size: 16px;
    }
    .sobre{
        flex-direction: column;
    }
    .sobre .conteudoBox{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    .sobre .imgBox{
        display: none;
    }
    .servicos{
        padding: 50px;
    }
    .servicos .conteudo{
       justify-content: center;
       margin-top: 20px;
    }
    .servicos .conteudo .servicosBox{
        margin: 20px;
        width: 300px;
        height: 350px;
    }
    .tec{
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }
    .tec .imgBox{
        margin-top: 40px;
        max-width: 250px;
    }
    .cliente{
        padding: 50px;
    }
    .cliente .imgBox{
        justify-content: center;
    }
    .testemunhos{
        padding: 50px;
    }
    .testemunhos .conteudoT{
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 20px;
        margin-left: 10%;
    }
    .testemunhos .conteudoT:last-child{
        margin-bottom: 0;
    }
    .contato{
        padding: 50px;
    }
    .contatoForm .imgBox{
        display: none;
    }
    .contatoForm .conteudoBox{
        width: 100%;
    }
    .conteudoForm .conteudoBox textarea{
        margin: 0px;
        width: 600px;
        height: 145px;"
    }
    .rodape{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center ;
    }
    .rodape ul{
        margin-bottom: 15px;
    }

}