@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calendario{
    width: 300px;
    height: auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
}
.calendario .Bgimg{
    width: 100%;
    height: 200px;
    background: url(../img/3.jpg);
    background-size: cover;
    padding: 40px 20px;
    box-sizing: border-box;
}
.calendario .Bgimg .mes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    color: #fff;
}
.calendario .Bgimg .mes i{
    margin-top: 50px;
    cursor: pointer;
    font-size: 1.5em;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.6);
}
.calendario .Bgimg h3,
.calendario .Bgimg h4{

    margin: 0;
    padding: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.calendario .Bgimg h3{
    font-size: 20px;
    font-weight: 500;
}
.calendario .Bgimg h4{
    font-size: 14px ;
    font-weight: 300;
}

.semana{
    margin: 5px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 12px;
    box-sizing: border-box;
    color: #e24747;
    font-weight: 500;
}
.semana div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(13rem / 7);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
  }
  
  .days div {
    font-size: 12px;
    margin: 0 5.7px 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  .days div:hover:not(.today) {
    border: 1px solid rgb(167, 167, 167);
    cursor: pointer;
  }
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  .today {
    background-color: #e24747;
  }
  